<div id="massagesView" data-role="view" data-model="app.massages.massagesModel">
    <header data-role="header">
        <div data-role="navbar">
            Massages
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>
    
    <img src="views/Massages/massages.jpg" />
    <span data-role="touch" data-bind="events: { tap: noPlacesLeft }" style="display: inline-block">
                        <a data-role="button" class="btn-login btn-big">Sign up!</a>
     </span>
    
</div>