<div data-role="view" id="single-activity" data-layout="default" class="activities-view" data-show="app.viewModels.activity.show">
    <header data-role="header">
        <div data-role="navbar">
            Discount
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <div id="status-container" class="user-status-wrp" data-role="listview" data-style="inset">
        <div class="user-info">
            <h2 id="personName" data-bind='text: Title'></h2>
            <time id="activityDate" data-bind="text: CreatedAtFormatted"></time>
        </div>
        <div class="user-share">
            <span>Address</span>
            <span data-bind="text: Address" class="user-share-txt"></span>
        </div>
        <div class="user-share">
            <span>Condition</span>
            <span data-bind="text: Condition" class="user-share-txt"></span>
        </div>
        <div class="user-share">
            <span>additional info</span>
            <span data-bind="text: AdditionalInfo" class="user-share-txt"></span>
        </div>
        <div class="user-share">
            <span>last updated</span>
            <span data-bind="text: LastModifiedFormatted" class="user-share-txt"></span>
        </div>
        
        
    </div>
</div>