<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.viewModels.sportActivities">
    <header data-role="header">
        <div data-role="navbar">
            Sport Activities
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <ul id="activities-listview" data-style="inset" data-role="listview">
        <li>
            <a data-role="button" href="views/sports/newEventView.html">Create event</a>
        </li>
    	<li>
        	<a data-role="button" href="views/sports/sportsView.html">Sports</a>
        </li>
        <li>
        	<a data-role="button" href="views/sports/eventsView.html">Favorite Events</a>
        </li>
        <li>
        	<a data-role="button" href="views/sports/eventsView.html">All Events</a>
        </li>
    </ul>
</div>