<div data-role="view" id="sports-activities-main-view" data-layout="default" class="activities-view sports">
    <header data-role="header">
        <div data-role="navbar">
            Sport events
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
            <a class="nav-button" data-align="right" data-role="button" data-icon="add" href="views/sports/newEventView.html"></a>
        </div>
    </header>

    <ul id="sports-listview" data-style="inset" data-role="listview">
        <li>
        	<a data-role="button" href="views/sports/eventsView.html">All events</a>
        </li>
        <li>
        	<a data-role="button" href="views/sports/favoriteEventsView.html">Favorite events</a>
        </li>
    </ul>
</div>