<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.viewModels.activities">
    <header data-role="header">
        <div data-role="navbar">
            Today's Menu
            <a class="nav-button" data-align="left" data-role="backbutton" data-click="app.viewModels.activities.logout">Log out</a>
        </div>
    </header>

    <div data-role="view" id="todayMenu" data-style="inset" data-model="app.cafeteria.viewModels.todayMenu">
        <div>
            ${Content}
        </div>
    </div>
</div>