<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view cafeteria" data-show="app.cafeteria.viewModels.todayMenu.show">
    <header data-role="header">
        <div data-role="navbar">
         <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
         Today's Menu
        </div>
        
    </header>   
    <div class="user-info" id="todayMenu" data-style="inset" >
        <h2 data-bind="text: formattedDate"></h2>
        <pre>
            <div data-bind="html: menuItem.Content"></div>
        </pre>
    </div>
</div>
