<div data-role="view" id="view-all-places" data-layout="default" class="activities-view places" data-model="app.places.placesViewModel">
    <header data-role="header" >
        <div data-role="navbar">
            Places
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <ul id="places-listview" data-style="inset" data-role="listview" data-template="placeTemplate"
        data-bind="source: places"></ul>
</div>

<!-- Places ListView Template -->
<script type="text/x-kendo-template" id="placeTemplate">
    <div data-role="touch" data-bind="events: { tap: placeSelected }">
        <div class="user-info">
            <h2>${Title}</h2>
            <div>Rating: ${Rating}</div>
        </div>
    </div>
</script>