<div data-role="view" id="single-activity" data-layout="default" class="activities-view" data-show="app.places.placeViewModel.show">
    <header data-role="header">
        <div data-role="navbar">
            Place
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <div id="status-container" class="user-status-wrp" data-role="listview" data-style="inset">
        <h1 data-bind="html: place.Title"></h1>
        <label for="ratingHolder">Current Rating</label>
        <h2 id="ratingHolder" data-bind="html: rating"></h2>
        <h2>Your rating:</h2>
        <ul data-role="buttongroup" data-select="app.places.ratingLogic.onSelect">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
        <div data-bind="html: place.Description" class="user-share">
        </div>
        <img id="picture" data-bind="attr:{src: place.ImageUrl()}" width="100%"/>
    </div>
</div>