<div data-role="view" id="single-activity" data-layout="default" class="activities-view places" data-show="app.places.placeViewModel.show">
    <header data-role="header">
        <div data-role="navbar">
            <span data-bind="html: place.Title"></span>
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <div id="status-container" class="user-status-wrp" data-role="listview" data-style="inset">
        <img id="picture" data-bind="attr:{src: place.ImageUrl()}" width="100%"/>
        <div data-bind="html: place.Description" class="user-share"></div>
        <p class="rating" for="ratingHolder">Rating <span id="ratingHolder" data-bind="html: place.Rating"></span></p>
        <h2>Your rating</h2>
        <ul data-role="buttongroup" data-select="app.places.ratingLogic.onSelect">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
        
        
    </div>
</div>